registry=http://registry.npm.baidu-int.com
phantomjs_cdnurl=http://mirror.npm.baidu-int.com/phantomjs
# puppeteer_download_host=http://mirror.npm.baidu-int.com
puppeteer_download_host=https://npmmirror.com/mirrors/

# ===== backups =====
# puppeteer_download_host=https://npm.taobao.org/mirrors


# $ export PUPPETEER_SKIP_DOWNLOAD='true' # 跳过下载chromuin
# $ npm i puppeteer
