registry=https://registry.npmmirror.com
phantomjs_cdnurl=https://registry.npmmirror.com/phantomjs
# puppeteer_download_host=https://registry.npmmirror.com
puppeteer_download_host=https://npmmirror.com/mirrors/

# ===== backups =====
# puppeteer_download_host=https://npm.taobao.org/mirrors


# $ export PUPPETEER_SKIP_DOWNLOAD='true' # 跳过下载chromuin
# $ npm i puppeteer
